<div class="container">
  <div class="row">

    <div class="col-md-12 top-wrapper">
      <div class="card">
        <div class="card-header">
          <h3>{{'ProfilePage.ChangeYourData' | translate}}</h3>
        </div>
        <div class="card-block">
          <form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
              <div class="text-sm-left header-wrapper">
                <h5>{{'ProfilePage.EmployeeData' | translate}}</h5>
              </div>
              <div class="row">
                <!--Employee name-->
                <fieldset class="form-group col-md-5">
                  <label for="name" class="col-md-8 col-form-label  required">{{'ProfilePage.Name' | translate}}</label>
                  <div class="col-md-8">
                    <input
                      id="name"
                      formControlName="name"
                      placeholder="{{'ProfilePage.Name' | translate}}"
                      class="form-control"
                      [(ngModel)]="currentEmployee.name"
                      type="text"/>
                    <field-error-display
                      [displayError] = "isFieldValid('name')"
                      [formControl]="employeeForm.controls['name']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>

                <!--Employee surname-->
                <fieldset class="form-group col-md-5">
                  <label for="surname" class="col-md-8 col-form-label  required">{{'ProfilePage.Surname' | translate}}</label>
                  <div class="col-md-8">
                    <input
                      id="surname"
                      formControlName="surname"
                      placeholder="{{'ProfilePage.Surname' | translate}}"
                      [(ngModel)]="currentEmployee.surname"
                      class="form-control"
                      type="text"/>
                    <field-error-display
                      [displayError] = "isFieldValid('surname')"
                      [formControl]="employeeForm.controls['surname']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>
              </div>

              <div class="row">
                <!--Employee email-->
                <fieldset class="form-group col-md-5">
                  <label for="email" class="col-md-8 col-form-label  required">{{'ProfilePage.Email' | translate}}</label>
                  <div class="col-md-8">
                    <input
                      id="email"
                      formControlName="email"
                      placeholder="{{'ProfilePage.Email' | translate}}"
                      [(ngModel)]="currentEmployee.email"
                      class="form-control"
                      type="text"/>
                    <field-error-display
                      [displayError] = "isFieldValid('email')"
                      [formControl]="employeeForm.controls['email']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>

                <fieldset class="form-group col-md-5">
                  <label for="phone" class="col-md-8 col-form-label  required">{{'ProfilePage.Phone' | translate}}</label>
                  <div class="col-md-8">
                    <input
                      id="phone"
                      formControlName="phone"
                      placeholder="{{'ProfilePage.Phone' | translate}}"
                      [(ngModel)]="currentEmployee.phone"
                      class="form-control"
                      type="tel"/>
                    <field-error-display
                      [displayError] = "isFieldValid('phone')"
                      [formControl]="employeeForm.controls['phone']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>
              </div>


              <!--ROLES-->
              <div formGroupName="roles" *ngIf="isAdmin()">
                <!--Header-->
                <!--Break-->
                <hr/>
                <div class="text-sm-left header-wrapper">
                  <h5>Roles</h5>
                </div>
                <div class="form-group text-center">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input formControlName="name"
                             class="form-check-input"
                             type="radio"
                             name="name"
                             id="inlineAdminRole"
                             [(ngModel)]="currentEmployee.type"
                             value="ADMIN">

                      Administrator
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input formControlName="name"
                             class="form-check-input"
                             type="radio"
                             name="name"
                             id="inlineHRRole"
                             [(ngModel)]="currentEmployee.type"
                             value="HR">

                      Human Resources
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input formControlName="name"
                             class="form-check-input"
                             type="radio"
                             name="name"
                             id="inlineDEVRole"
                             [(ngModel)]="currentEmployee.type"
                             value="DEV">

                      Developer
                    </label>
                  </div>
                </div>
              </div>

              <!--Break-->
              <hr/>

              <!--Address-->
              <div formGroupName="address">
                <!--Header-->
                <div class="text-sm-left header-wrapper">
                  <h5>{{'ProfilePage.Address' | translate}}</h5>
                </div>
                <!--Content-->
                <div class="row">
                  <!--City-->
                  <fieldset class="form-group col-sm-4">
                    <label for="city" class="col-md-8 col-form-label  required">{{'ProfilePage.City' | translate}}</label>
                    <div class="col-md-8">
                      <input
                        id="city"
                        formControlName="city"
                        placeholder="{{'ProfilePage.City' | translate}}"
                        class="form-control"
                        [(ngModel)]="currentEmployee.address.city"
                        type="text"/>

                      <field-error-display
                        [displayError] = "isFieldValid('address.city')"
                        [formControl]="employeeForm.controls['address'].controls['city']"
                        ngDefaultControl>
                      </field-error-display>
                    </div>
                  </fieldset>

                  <!--Street-->
                  <fieldset class="form-group col-sm-4">
                    <label for="street" class="col-md-5 col-form-label  required">{{'ProfilePage.Street' | translate}}</label>
                    <div class="col-md-8">
                      <input
                        id="street"
                        formControlName="street"
                        placeholder="{{'ProfilePage.Street' | translate}}"
                        [(ngModel)]="currentEmployee.address.street"
                        class="form-control"
                        type="text"/>

                      <field-error-display
                        [displayError] = "isFieldValid('address.street')"
                        [formControl]="employeeForm.controls['address'].controls['street']"
                        ngDefaultControl>
                      </field-error-display>
                    </div>
                  </fieldset>

                  <!--Number-->
                  <fieldset class="form-group col-sm-4">
                    <label for="number" class="col-md-5 col-form-label  required">{{'ProfilePage.Number' | translate}}</label>
                    <div class="col-md-5">
                      <input
                        id="number"
                        formControlName="number"
                        placeholder="{{'ProfilePage.Number' | translate}}"
                        class="form-control"
                        [(ngModel)]="currentEmployee.address.number"
                        type="number"/>

                      <field-error-display
                        [displayError] = "isFieldValid('address.number')"
                        [formControl]="employeeForm.controls['address'].controls['number']"
                        ngDefaultControl>
                      </field-error-display>
                    </div>
                  </fieldset>
                </div>

              </div>
              <!--Submit-->
              <div class="card-footer">
                <button class="btn btn-info" type="button" (click)="goBackClicked()">
                  {{'Buttons.Back' | translate}}
                </button>
                <button class="btn btn-success float-right" type="submit">
                  {{'Buttons.Update' | translate}}
                </button>
                <button class="btn btn-warning float-right" type="button" (click)="clearForm()">
                  {{'Buttons.Clear' | translate}}
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
