<div class="container">
  <div class="row">

    <div class="col-md-10 top-wrapper">
      <div class="card">
        <div class="card-header">
          <h3>Create new skill</h3>
        </div>
        <div class="card-block">
          <form [formGroup]="skillsForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
                <div formArrayName="skills">

                  <div *ngFor="let skill of skillsForm.controls['skills'].controls; let i=index"  [formGroupName]="i">
                    <div class="row">

                    <fieldset class="form-group col-md-4">
                      <label for="name" class="col-md-8 col-form-label required">Skill Name</label>
                      <div class="col-md-12">
                        <input
                          id="name"
                          formControlName="name"
                          placeholder="Skill Name"
                          class="form-control"
                          type="text"/>
                        <div *ngIf="skillsForm.controls['skills'].controls[i].controls.name.touched
                                    && skillsForm.controls['skills'].controls[i].controls.name.errors" class="error-msg">
                          <div *ngIf="skillsForm.controls['skills'].controls[i].controls.name.errors.required">Filed can not be empty!</div>
                          <div *ngIf="skillsForm.controls['skills'].controls[i].controls.name.errors.minlength">Given value is too short!</div>
                          <div *ngIf="skillsForm.controls['skills'].controls[i].controls.name.errors.maxlength">Given value is too long!</div>
                        </div>
                      </div>
                    </fieldset>

                    <fieldset class="form-group col-md-4">
                      <label for="level" class="col-md-8 col-form-label required">Skill Level</label>
                      <div class="col-md-12">
                      <input
                        id="level"
                        formControlName="level"
                        placeholder="Skill Level"
                        class="form-control"
                        type="text"/>
                        <div *ngIf="skillsForm.controls['skills'].controls[i].controls.level.touched
                             && skillsForm.controls['skills'].controls[i].controls.level.errors" class="error-msg">
                          <div *ngIf="skillsForm.controls['skills'].controls[i].controls.level.errors.required">Filed can not be empty!</div>
                          <div *ngIf="skillsForm.controls['skills'].controls[i].controls.level.errors.minlength">Given value is too short!</div>
                          <div *ngIf="skillsForm.controls['skills'].controls[i].controls.level.errors.maxlength">Given value is too long!</div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="col-md-4 delete-button-wrapper text-center">
                      <button *ngIf="skillsForm.controls['skills'].controls.length > 1"
                              (click)="deleteRow(i)"
                              class="btn btn-danger">
                          Delete
                      </button>
                    </div>
                  </div>
                </div>
                </div>

              <div class="text-center">
                <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button><br>
              </div>
              <!--Submit-->
              <div class="card-footer">
                <button class="btn btn-info" type="button" (click)="goBackClicked()">
                  Back
                </button>
                <button class="btn btn-success float-right" type="submit">
                  Create
                </button>
                <button class="btn btn-warning float-right" type="button" (click)="clearForm()">
                  Clear
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
