<div class="container">
  <div class="row">

    <div class="col-md-10 top-wrapper">
      <div class="card">
        <div class="card-header">
          <h3>{{'ProfilePage.CreateNewEducation' | translate}}</h3>
        </div>
        <div class="card-block">
          <form [formGroup]="educationForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
              <div class="row">
                <!--Developer university-->
                <fieldset class="form-group col-md-6">
                  <label for="university" class="col-md-8 col-form-label  required">{{'List.University' | translate}}</label>
                  <div class="col-md-10">
                    <input
                      id="university"
                      formControlName="university"
                      placeholder="{{'List.University' | translate}}"
                      class="form-control"
                      [(ngModel)]="newEducation.university"
                      type="text"/>
                    <field-error-display
                      [displayError] = "isFieldValid('university')"
                      [formControl]="educationForm.controls['university']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>

                <!--Developer faculty-->
                <fieldset class="form-group col-md-6">
                  <label for="faculty" class="col-md-8 col-form-label  required">{{'List.Faculty' | translate}}</label>
                  <div class="col-md-10">
                    <input
                      id="faculty"
                      formControlName="faculty"
                      placeholder="{{'List.Faculty' | translate}}"
                      [(ngModel)]="newEducation.faculty"
                      class="form-control"
                      type="text"/>
                    <field-error-display
                      [displayError] = "isFieldValid('faculty')"
                      [formControl]="educationForm.controls['faculty']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>
              </div>

              <div class="row">
                <!--Developer specialization-->
                <fieldset class="form-group col-md-6">
                  <label for="specialization" class="col-md-8 col-form-label  required">{{'List.Specialization' | translate}}</label>
                  <div class="col-md-10">
                    <input
                      id="specialization"
                      formControlName="specialization"
                      placeholder="{{'List.Specialization' | translate}}"
                      [(ngModel)]="newEducation.specialization"
                      class="form-control"
                      type="text"/>
                    <field-error-display
                      [displayError] = "isFieldValid('specialization')"
                      [formControl]="educationForm.controls['specialization']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>
              </div>

              <div class="row">
                <!--Education start date -->
                <fieldset class="form-group col-md-6">
                  <label for="startDate" class="col-md-8 col-form-label  required">{{'List.StartDate' | translate}}</label>
                  <div class="col-md-8">
                    <input
                      id="startDate"
                      formControlName="startDate"
                      placeholder="{{'List.StartDate' | translate}}"
                      [(ngModel)]="newEducation.startDate"
                      class="form-control"
                      type="date"/>
                    <field-error-display
                      [displayError] = "isFieldValid('startDate')"
                      [formControl]="educationForm.controls['startDate']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>

                <!--Education end date-->
                <fieldset class="form-group col-md-6">
                  <label for="endDate" class="col-md-8 col-form-label  required">{{'List.EndDate' | translate}}e</label>
                  <div class="col-md-8">
                    <input
                      id="endDate"
                      formControlName="endDate"
                      placeholder="{{'List.EndDate' | translate}}"
                      [(ngModel)]="newEducation.endDate"
                      class="form-control"
                      type="date"/>
                    <field-error-display
                      [displayError] = "isFieldValid('endDate')"
                      [formControl]="educationForm.controls['endDate']"
                      ngDefaultControl>
                    </field-error-display>
                  </div>
                </fieldset>
              </div>

              <!--Submit-->
              <div class="card-footer">
                <button class="btn btn-info" type="button" (click)="goBackClicked()">
                  {{'Buttons.Back' | translate}}
                </button>
                <button class="btn btn-success float-right" type="submit">
                  {{'Buttons.Create' | translate}}
                </button>
                <button class="btn btn-warning float-right" type="button" (click)="clearForm()">
                  {{'Buttons.Clear' | translate}}
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
