<div class="container">
  <div class="row">

    <div class="col-sm-12 list-wrapper">
      <div *ngIf="developers" class="card">
        <!--Card header-->
        <div class="card-header">
          <h3>{{'List.SkillList' | translate}}</h3>
        </div>
        <!--Card block-->
        <div class="card-block">
          <div class="float-left entries-select-wrapper">
            <!--Select menu-->
            <p>{{'List.Show' | translate}}
              <select *ngIf="elementsCount" type="number" [(ngModel)]="elementsCount">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="25">25</option>
              </select>
              {{'List.Elements' | translate}}.</p>
          </div>

          <!--Search input field-->
          <div class="float-right search-input-wrapper">
            <p>
              {{'List.Search' | translate}}: <input size="25" type="text" id="searchInput"
                             [(ngModel)]="queryString" placeholder="{{'List.FilterUsernameOrLastName' | translate}}">
            </p>
          </div>

          <!--Table with elements -->
          <table id="developerTable" class="table table-borderless table-striped table-sm">
            <thead class="text-center">
              <tr>
                <th class="empty-cells"></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="2"><b>{{'List.Skills' | translate}}</b></th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <th><b>#</b></th>
                <th><b>{{'List.FirstName' | translate}}</b></th>
                <th><b>{{'List.LastName' | translate}}</b></th>
                <th><b>{{'List.Username' | translate}}</b>
                <th>{{'List.Skill' | translate}}</th>
                <th>{{'List.Level' | translate}}</th>
                <th><b>{{'List.Profile' | translate}}</b></th>
              </tr>
            </thead>
            <tbody class="text-center">
            <tr *ngFor="let developer of developers | developerFilterPipe: queryString | slice:0:elementsCount; let i = index">
              <th scope="row"> {{i + 1}} </th>
              <td> {{developer.name}} </td>
              <td> {{developer.surname}} </td>
              <td> {{developer.username}} </td>
              <td>
                <div *ngFor="let skill of developer.skills">
                  {{skill.name}}
                </div>
              </td>
              <td>
                <div *ngFor="let skill of developer.skills">
                  {{skill.level}}
                </div>
              </td>
              <td>
                <button type="button" class="btn developer btn-outline-info"
                        routerLink="/profile/{{developer.username}}">
                  {{'Buttons.Details' | translate}}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--How many elements are shown-->
        <p>{{'List.Showing' | translate}} {{elementsCount}} {{'List.Of' | translate}} {{developers.length}}</p>
      </div>
    </div>
  </div>
</div>
