.developers-list-wrapper {
  margin-top: 3rem;
}

.search-input-wrapper {
  margin-top: 1.0rem;
  margin-right: 0.3rem;
}

.create-button-wrapper {
  margin-top: 0.7rem;
  margin-right: 0.1rem;
}

.entries-select-wrapper {
  margin-top: 1.0rem;
  margin-left: 0.3rem;
}

.dropdown-item {
  text-align:center;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}
