<div class="container">
  <div class="row">

    <div class="col-md-10 top-wrapper">
      <div class="card">
        <div class="card-header">
          <h3>{{developerUsername}} generated CV</h3>
        </div>
        <div class="card-block">
          <div class="col-md-10 text-center">
            <iframe class="pdf-display" [src]="pdfFileUrl" width="100%" height="500rem" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-info" type="button" (click)="goBackClicked()">
            Back
          </button>
          <button class="btn btn-primary float-right" type="button" (click)="saveGeneratedCv()">
            Download
          </button>
          <button class="btn btn-success float-right" type="button">
            Add as Attachment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
