.login-card-block {
  margin: 1rem;
}

.background-with-photo {
  background: url('../../assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh  !important;
}

.login-card {
  top: 8rem;
}
