<div class="container">
  <div class="row">

    <div class="col-sm-12 employees-list-wrapper">
      <div *ngIf="employees" class="card">
        <!--Card header-->
        <div class="card-header">
          <h3>{{'List.EmployeeList' | translate}}</h3>
        </div>
        <!--Card block-->
        <div class="card-block">
          <div class="float-left entries-select-wrapper">
            <!--Select menu-->
            <p>{{'List.Show' | translate}}
            <select *ngIf="elementsCount" type="number" [(ngModel)]="elementsCount">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="25">25</option>
            </select>
              {{'List.Elements' | translate}}.</p>
          </div>

          <!--Create button and search-->
          <div *showAdmin class="float-right create-button-wrapper">
            <button type="button" class="btn btn-primary" routerLink="/employees/create-employee/">{{'Buttons.Create' | translate}}</button>
          </div>
          <div class="float-right search-input-wrapper">
            <p>
              {{'List.Search' | translate}}: <input size="25" type="text" id="searchInput"
                             [(ngModel)]="queryString" placeholder="{{'List.FilterUsernameOrLastName' | translate}}">
            </p>
          </div>

          <!--Table with elements -->
          <table id="employeesTable" class="table table-striped table-sm">
            <thead class="text-center">
              <tr>
                <th><b>#</b></th>
                <th><b>{{'List.FirstName' | translate}}</b></th>
                <th><b>{{'List.LastName' | translate}}</b></th>
                <th><b>{{'List.Username' | translate}}</b></th>
                <th><b>{{'ProfilePage.Address' | translate}}</b></th>
                <th><b>{{'ProfilePage.Email' | translate}}</b></th>
                <th *showAdmin><b>{{'List.Active' | translate}}</b></th>
                <th *showAdmin><b>{{'List.Locked' | translate}}</b></th>
                <th><b>{{'List.Profile' | translate}}</b></th>
                <th *showAdmin><b>{{'Buttons.Edit' | translate}}</b></th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let employee of employees | employeesFilterPipe: queryString | slice:0:elementsCount; let i = index">
                <th scope="row"> {{i + 1}} </th>
                <td > {{employee.name}} </td>
                <td> {{employee.surname}} </td>
                <td> {{employee.username}} </td>
                <td> {{employee.address.city}}, {{employee.address.street}} {{employee.address.number}} </td>
                <td> {{employee.email}} </td>
                <td *showAdmin>
                  <p class="green" *ngIf="employee.active">{{"List.Active" | translate}}</p>
                  <p class="red" *ngIf="!employee.active">{{"List.InActive" | translate}}</p>
                </td>
                <td *showAdmin>
                  <p class="green" *ngIf="employee.locked">{{'List.Unlocked' | translate}}</p>
                  <p class="red" *ngIf="!employee.locked">{{'List.Locked' | translate}}</p>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-info"
                          routerLink="/profile/{{employee.username}}">
                    {{'Buttons.Details' | translate}}
                  </button>
                </td>
                <td *showAdmin>
                  <button type="button" class="btn btn-sm btn-outline-warning"
                          routerLink="/profile/{{employee.username}}/edit">
                          {{'Buttons.Edit' | translate}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--How many elements are shown-->
        <p>{{'List.Showing' | translate}} {{elementsCount}} {{'List.Of' | translate}} {{employees.length}}</p>
      </div>
    </div>
  </div>
</div>
