.fonts {
  font-size:16px;
  font-weight:500;
  margin-top: 3rem;
}

.bottom-border {
  margin: 1rem 0 1rem;
  border-bottom: 1px solid #aaa;
}

.card-content {
  margin: 2rem;
}

.profile-picture {
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 2rem;
}

hr {
  width: 90%;
}
