.fonts {
  font-size:16px;
  font-weight:500;
  margin-top: 3rem;
}

.bottom-border {
  margin: 1rem 0 1rem;
  border-bottom: 1px solid #aaa;
}

.card-content {
  margin: 2rem;
}

.profile-picture {
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 2rem;
}

hr {
  width: 90%;
}

.delete-button-wrapper {
  margin-top: 2.3rem;
}

.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 7px;
}

.error-msg {
  color: #a94442;
}
