<div class="container">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-1"></div>

    <!-- Change Password Card -->
    <div class="col-md-8">
      <div class="card mx-auto top-wrapper">
        <form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
        <div class="card-header">
          <h5>Change Password</h5>
        </div>
        <!-- Card block content -->
        <div class="card-block card-content">
          <fieldset [disabled]="isSubmitting">

            <!--Employee password-->
            <div class="row">
              <fieldset class="form-group col-md-5">
                <label for="CurrentPassword" class="col-md-8 col-form-label required">Current Password</label>
                <div class="col-md-12">
                  <input
                    id="CurrentPassword"
                    formControlName="oldPassword"
                    placeholder="Current Password"
                    class="form-control"
                    type="password"/>
                  <field-error-display
                    [displayError] = "isFieldValid('oldPassword')"
                    [formControl]="passwordForm.controls['oldPassword']"
                    ngDefaultControl>
                  </field-error-display>
                </div>
              </fieldset>
            </div>

            <!--Employee's new password-->
            <div class="row">
              <fieldset class="form-group col-md-5">
                <label for="newPassword" class="col-md-10 col-form-label required">New Password</label>
                <div class="col-md-12">
                  <input
                    id="newPassword"
                    formControlName="newPassword"
                    placeholder="New Password"
                    class="form-control"
                    type="password"/>
                  <field-error-display
                    [displayError] = "isFieldValid('newPassword')"
                    [formControl]="passwordForm.controls['newPassword']"
                    ngDefaultControl>
                  </field-error-display>
                </div>
              </fieldset>
            </div>


            <!--Employee's new password confirmation-->
            <div class="row">
              <fieldset class="form-group col-md-5">
                <label for="newPasswordConfirmed" class="col-md-10 col-form-label required">Confirmed New Password</label>
                <div class="col-md-12">
                  <input
                    id="newPasswordConfirmed"
                    formControlName="newPasswordConfirmed"
                    placeholder="Confirmed Password"
                    class="form-control"
                    type="password"/>
                  <field-error-display
                    [displayError] = "isFieldValid('newPasswordConfirmed')"
                    [formControl]="passwordForm.controls['newPasswordConfirmed']"
                    ngDefaultControl>
                  </field-error-display>
                </div>
              </fieldset>
            </div>

          </fieldset>
      </div>
      <!--Card Footer-->
      <div class="card-footer">
        <button type="button" class="btn btn-info" (click)="goBackClicked()">Back</button>
        <button type="submit" class="btn btn-success float-right">Save Changes</button>
        <button class="btn btn-warning float-right" type="button" (click)="clearForm()">Clear</button>
      </div>
      </form>
    </div>
  </div>
  </div>
</div>
