<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">

    <div class="col-sm-12 list-wrapper">
      <div *ngIf="developers" class="card">
        <!--Card header-->
        <div class="card-header">
          <h3>{{'List.ProjectList' | translate}}</h3>
        </div>
        <!--Card block-->
        <div class="card-block">
          <div class="float-left entries-select-wrapper">
            <!--Select menu-->
            <p>{{'List.Show' | translate}}
              <select *ngIf="elementsCount" type="number" [(ngModel)]="elementsCount">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="25">25</option>
              </select>
              {{'List.Elements' | translate}}.</p>
          </div>

          <!--Search input field-->
          <div class="float-right search-input-wrapper">
            <p>
              {{'List.Search' | translate}}: <input size="25" type="text" id="searchInput"
                             [(ngModel)]="queryString" placeholder="{{'List.FilterUsernameOrLastName' | translate}}">
            </p>
          </div>

          <!--Table with elements -->
          <table id="developerTable" class="table table-borderless table-sm table-striped">
            <thead class="text-center">
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="6">{{'Projects' | translate}}</th>
              <th></th>
            </tr>
            <tr>
              <th><b>#</b></th>
              <th><b>{{'List.FirstName' | translate}}</b></th>
              <th><b>{{'List.LastName' | translate}}</b></th>
              <th><b>{{'List.Username' | translate}}</b>
              <th>{{'List.Company' | translate}}</th>
              <th>{{'List.City' | translate}}</th>
              <th>{{'List.Position' | translate}}</th>
              <th>{{'List.Description' | translate}}</th>
              <th>{{'List.StartDate' | translate}}</th>
              <th>{{'List.EndDate' | translate}}</th>
              <th><b>{{'List.Profile' | translate}}</b></th>
            </tr>
            </thead>

            <tbody class="text-center" *ngFor="let developer of developers | developerFilterPipe: queryString  let i = index">
            <tr *ngFor="let project of developer.projects">
              <th scope="row"> {{i + 1}} </th>
              <td> {{developer.name}} </td>
              <td> {{developer.surname}} </td>
              <td> {{developer.username}} </td>

              <td> {{project.company}} </td>
              <td> {{project.city}} </td>
              <td> {{project.position}} </td>
              <td> {{project.description}} </td>
              <td> {{project.startDate | date: 'yyyy-MM'}} </td>
              <td> {{project.endDate | date: 'yyyy-MM'}} </td>
              <td>
                <button type="button" class="btn developer btn-outline-info"
                        routerLink="/profile/{{developer.username}}">
                  {{'Buttons.Details' | translate}}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--How many elements are shown-->
        <p>{{'List.Showing' | translate}} {{elementsCount}} {{'List.Of' | translate}} {{countProjects()}}</p>
      </div>
    </div>
  </div>
</div>
