<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">

    <div class="col-sm-12 list-wrapper">
      <div *ngIf="developers" class="card">
        <!--Card header-->
        <div class="card-header">
          <h3>Education list</h3>
        </div>
        <!--Card block-->
        <div class="card-block">
          <div class="float-left entries-select-wrapper">
            <!--Select menu-->
            <p>Show
              <select *ngIf="elementsCount" type="number" [(ngModel)]="elementsCount">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="25">25</option>
              </select>
              elements.</p>
          </div>

          <!--Search input field-->
          <div class="float-right search-input-wrapper">
            <p>
              Search: <input size="25" type="text" id="searchInput"
                             [(ngModel)]="queryString" placeholder="Filter username or last name...">
            </p>
          </div>

          <!--Table with elements -->
          <table id="developerTable" class="table table-borderless table-sm table-striped">
            <thead class="text-center">
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="5">Education</th>
              <th></th>
            </tr>
            <tr>
              <th><b>#</b></th>
              <th><b>First Name</b></th>
              <th><b>Last Name</b></th>
              <th><b>Username</b>
              <th>University</th>
              <th>Faculty</th>
              <th>Specialization</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th><b>Profile</b></th>
            </tr>
            </thead>

            <tbody class="text-center" *ngFor="let developer of developers | developerFilterPipe: queryString  let i = index">
            <tr *ngFor="let education of developer.educations">
              <th scope="row"> {{i + 1}} </th>
              <td> {{developer.name}} </td>
              <td> {{developer.surname}} </td>
              <td> {{developer.username}} </td>

                <td> {{education.university}} </td>
                <td> {{education.faculty}} </td>
                <td> {{education.specialization}} </td>
                <td> {{education.startDate | date: 'yyyy-MM'}} </td>
                <td> {{education.endDate | date: 'yyyy-MM'}} </td>
              <td>
                <button type="button" class="btn developer btn-outline-info"
                        routerLink="/profile/{{developer.username}}">
                  Details
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--How many elements are shown-->
        <p>Showing {{elementsCount}} of {{developers.length}}</p>
      </div>
    </div>
  </div>
</div>
