<div *ngIf="formControl.errors && !formControl.untouched" class="error-msg">
  <div [hidden]="!formControl.errors.required">{{'Errors.required' | translate}}</div>
  <div [hidden]="!formControl.errors.minlength">{{'Errors.minlength' | translate}}</div>
  <div [hidden]="!formControl.errors.maxlength">{{'Errors.maxlength' | translate}}</div>
  <div [hidden]="!formControl.errors.email">{{'Errors.email' | translate}}</div>
  <div [hidden]="!formControl.errors.notEquivalent">{{'Errors.notEquivalent' | translate}}</div>
  <div [hidden]="!formControl.errors.max">{{'Errors.max' | translate}}</div>
  <div [hidden]="!formControl.errors.min">{{'Errors.min' | translate}}</div>
</div>
