.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 7px;
}

.top-wrapper {
  margin-top: 3rem;
}

.bottom-border {
  margin: 1rem 0 1rem;
  border-bottom: 1px solid #aaa;
  width: 80%;
}

hr {
  width: 90%;
}

.header-wrapper {
  margin-left: 2rem;
  margin-top: 1rem;
}
